body{
    background-color: whitesmoke;
    text-align: center;
    margin: 200px auto;
}
h1{
    color: grey;
    display: inline-block;
    width: 100px;
    font-size: 50px;
    /* background-color: skyblue; */
}